#h1a{
    text-align: center;
    font-style: normal;
    font-family: fantasy;
    font-size: xx-large;

}
main{
    padding-left: 9%;
    align-self: center;
    width: 60%;
}
#h2a{
    text-align: left;
    padding-left: 5%;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
#img1a{
    padding-left: 9%;
    border: 20px;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    width: 45%;
}
#p1{
    padding-left: 9%;
    font-style: normal;
    
}
#navtop{
    position: top;
    background-color: blue;
    height: 6%;
    padding-top: 0px;
}
#homenav{
    font-size: large;
    font-style: normal;
    padding-left: 15%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: black;
    border-width: 5px;
}
ima{
    image-resolution: 1920*1080;
    



}
#do1{
    font-size: large;
    font-style: normal;
    padding-left: 2%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#l{
    padding-top: 4%;
     padding-left: 6%;
     image-resolution: 1920*1080;
     width: 90%;
}   
#pm{ 
    padding-left: 9%;
}
#h22{
    text-align: center;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}